section.detail
	.inner

		h1 Hi there

		p My name is Stav Pan Geffen and I'm a self-taught Web Developer.

		p Specializing in advanced SEO practices, web-performance issues, reviewing user experience and putting blobs of data to good use.

		.icon &#9996;

		//p
		//	|I can (and happily will) tell you all about these and other web services and how they could provide to your business, save you time and trouble and all that.
		//	br
		//	|If you've never invested in these I can also teach you the basics so you'll know your way around or even how to DIY.
		//
		//.icon &#8615;

		p And what I really want us to do is to have a real conversation over where exactly you are at.

		p Let's think together.