section.hero
	.inner.full

		img.logo(src="http://s3.eu-central-1.amazonaws.com/panembassy/graphics/sandal.png")

		h2 My name is Stav Pan Geffen&nbsp;
		h3 and I'm a Web Ambassador.

		p Technically speaking, nothing is impossible.
