section.hero
	.inner

		img.logo(src="https://s3.eu-central-1.amazonaws.com/panembassy/graphics/sandal.png")

		h2 My name is Stav Pan Geffen&nbsp;
		h3 and I'm a Web Ambassador.

		p
			|Bridging the gap between administrative needs
			br
			|and contemporary web solutions.

