extends ../layout

block variables
	- var bodyClasses = 'front'
	- var pageTitle = 'Stav Pan Geffen - Web Freelancer'
	- var pageDescription = 'I\'m Pan, I do Web Development for humans, and this website is an on-going experiment in self-promotion.'
	- var slug = ''
	- var pageImage = 'https://s3.eu-central-1.amazonaws.com/panembassy/graphics/sandal.png'

block content
	//include hero
	include detail
	//include activities
	include contact
