- var pageTitle = 'About me'
- var pageDescription = 'I don\'t wanna brag, but I definately won\'t '
- var slug = 'about-me'
- var pageImage = 'https://s3.eu-central-1.amazonaws.com/panembassy/graphics/sandal.png'