section.recommendations
	.inner

		h2 What people are saying:

		.recommendation
			p A provider I work with, and keep coming back to - for the results I get. If you are looking for quality, and not just a price - working with Stav would definitely be a lucrative choice.
			.author
				span.name Moshe Alima&nbsp;
				span.role - WP Developer @&nbsp;
					a.silent(href="http://getawebsite.co.il" target="_blank") getawebsite.co.il

		.recommendation
			p I worked with Stav on a mobile web project. He created content and user-interface of excellent standard and turned out to be a surprisingly likeable person. His contribution was straight-forward, precise, and on-time.
			p I highly recommend his for anyone in need of constructed web-pages, especially freelancers that need to take some weight off their shoulders.
			.author
				span.name Yuval Perelman&nbsp;
				span.role - iOS Developer

		.recommendation
			p Pan has a holistic view of the web industry and a deep understanding of the trends and best pratices of development and design of web sites and applications. He understands all phases of the project's lifecycle and shows full responsibility end-to-end.
			.author
				span.name Ore Landau&nbsp;
				span.role - Front-End Developer
