section.why-me
	.inner

		h2 Why should you work with me:

		.clearrow

			.reason
				.icon
				.content
					h3
						strong You're always right&nbsp;
						|- I'm here to keep you informed.
					p I tend to be opinionated and judgmental towards the different methods of dealing with an issue or a problem. But it is certain that you know best. Even if you can't explain it.

			.reason
				.icon
				.content
					h3
						strong You have your own pace&nbsp;
						|- I enjoy finding new ways to articulate ideas.
					p As a tutor I've found that different people understand things differently, some would need a video that would visually illustrate a notion from different angles, others need a simple metaphor. If it's important for you to understand - we will find a way.

		.clearrow

			.reason
				.icon
				.content
					h3
						strong You expect to pay for actual work&nbsp;
						|- And nothing else.
					p The social networks are everywhere and very few workplaces dare to challenge the just-checking-up (every half an hour) routine. I do not work like that. Whether I take a yoga break or brew another cup of coffee - My timer will stay off for whenever I do anything that isn't directly related to your benefit.

			.reason
				.icon
				.content
					h3
						strong I have yet to complete my studies&nbsp;
						|- Got something new on a regular basis.
					p Being an autodidact means that learning never really ends. The world wide web is an endless collection of amazing things and there is more knowledge out there than one could learn in a lifetime.



