section.detail
	.inner

		p
			|I naturally aid folks in accessing the&nbsp;
			b vast opportunities of the web&nbsp;
			|by writing code,&nbsp;
			b building websites&nbsp;
			|and micro-services, and giving&nbsp;
			b in-person&nbsp;
			|or&nbsp;
			b online guidance&nbsp;
			|about anything web-related.

