header
	.inner

		a.role(href="/")
			span Web Ambassador
			img.logo(src="https://s3.eu-central-1.amazonaws.com/panembassy/graphics/sandal.png")

		a.availability.positive Currently available -&nbsp;
			b Hire me!

