section.bio
	.inner

		h2 Bio:

		p I travel slowly and work remotely.
		p Don't like to explicitely write about myself, so here's a list:

		ul
			li
				strong Am an autodidact.
				span To me it simply means - taking responsibility of what I have yet to learn. Plus - we've got the web, people - being smart is knowing how to ask.

			li
				strong Practise Hatha Yoga & Vipassana almost daily.
				span Though not as strict as these methods are being thaught - I use them carefully to balace the rigid effects of working on a laptop for so many hours.

			li
				strong Will not eat any kind of animal product.
				span Won't stop anyone from making their own choise though, as I'm quite patient about it. I even have the annual honey	teato help with the flu.