footer

	.inner

		h2 Or by any other means:

		a(href="skype:stavgeffen?chat" title="Time some face on Skype")
			span.skype SKYPE

		a(href="mailto:stavgeffen@gmail.com" title="Send me lengthy emails")
			span.gmail EMAIL

		a(href="https://delicious.com/panstav" title="My Delicious profile with >300 links I treasured" target="_blank")
			span.delicious DELICIOUS

		a(href="https://github.com/panstav" title="The complete mess which is my Github account" target="_blank")
			span.github GITHUB

		a(href="https://twitter.com/stavgeffen" title="My low-key Twitter account" target="_blank")
			span.twitter TWITTER