footer

	.inner

		h2 Or by any other means:

		a(href="https://github.com/panstav" title="Few projects and a handful of beginnings" target="_blank")
			span.github GITHUB

		a(href="https://www.linkedin.com/pub/stav-pan-geffen/73/a91/889" title="The busy communication" target="_blank")
			span.github LINKEDIN

		a(href="https://delicious.com/panstav" title="More then 300 of links I treasured" target="_blank")
			span.delicious DELICIOUS

		a(href="mailto:stavgeffen@gmail.com" title="Send me lengthy emails")
			span.gmail EMAIL

		a(href="https://twitter.com/stavgeffen" title="Follow my low-key Twitter account" target="_blank")
			span.twitter TWITTER