header
	.inner.full

		a.home(href="/")
			img.logo(src="http://s3.eu-central-1.amazonaws.com/panembassy/graphics/sandal.png")
			span Stav Pan Geffen

		a.availability.positive Currently available -&nbsp;
			b Hire me!

