header

	position: absolute
	width: 100%

	background-color: rgba($mainBackground, .5)
	color: white
	padding:
		top: 1em
		bottom: 1em

	body:not(.front) &
		background-color: rgba($mainBackground, .97)
		border-bottom: 2px solid darken($mainBackground, 10%)

	img.logo, a.home, a.home span
		vertical-align: middle

	a
		display: inline-block

	a.home
		font-weight: bold
		text-decoration: none

	img.logo
		width: 3.5em
		height: auto
		margin-right: 1em