doctype html
html(lang="en")
	head

		meta(charset="utf-8")
		meta(name="viewport", content="width=device-width")

		// build:css
		// endbuild

		link(rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Maven+Pro:400,700")

		// build:js
		// endbuild

		include ./favicons

		title Stav Pan Geffen - Web Freelancer

	body

		include frontpage/index

		include overlays