doctype html
html(lang="en")

	head

		block variables

		meta(charset="utf-8")
		meta(name="viewport", content="width=device-width")

		include seo

		// build:css
		// endbuild

		include favicons

	body(class="#{bodyClasses}")

		// include header

		block content

		include footer

		include overlays

		// build:js
		// endbuild

		link(rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Maven+Pro:400")