title Stav Pan Geffen - Web Freelancer
base(href="/")
link(rel="canonical" href="http://www.panembassy.com")

// Google
meta(name="description" content="Bridging the gap between administrative needs and contemporary web solutions.")

// Twitter Cards
meta(name="twitter:card" content="summary")
meta(name="twitter:site" content="@stavgeffen")
meta(name="twitter:title" content="Stav Pan Geffen - Web Freelancer")
meta(name="twitter:description" content="Bridging the gap between administrative needs and contemporary web solutions.")
meta(name="twitter:creator" content="@stavgeffen")
meta(name="twitter:image" content="https://s3.eu-central-1.amazonaws.com/panembassy/graphics/sandal.png")


// Open Graph
meta(property="og:site_name" content="Pan Embassy")
meta(property="og:locale" content="en_US")
meta(property="og:title" content="Stav Pan Geffen - Web Freelancer")
meta(property="og:type" content="website")
meta(property="og:url" content="http://www.panembassy.com")
meta(property="og:image" content="https://s3.eu-central-1.amazonaws.com/panembassy/graphics/sandal.png")
meta(property="og:description" content="Bridging the gap between administrative needs and contemporary web solutions.")

