@import "button"
@import "overlay"

body
	background-color: #F5F5F5
	color: $mainText

	font-family: 'Maven Pro', sans-serif
	font-size: 14px

	@media (min-width: $mobile) and (max-width: $desktop - 1px)
		font-size: 18px

	@media (min-width: $desktop)
		font-size: 22px

	> section:first-of-type
		padding-top: 5em

header, section, footer
	> .inner
		margin: auto
		padding:
			right: 2rem
			left: 2rem

		&:not(.full)
			max-width: $desktop

header > .inner
	@media (max-width: 549px)
		padding:
			right: 1rem
			left: 1rem

p
	margin: 0

a, a:link, a:visited, a:hover, a:active, a:focus
	color: inherit

	&.silent
		text-decoration: none
	&.silent:hover
		text-decoration: underline